$imageWidth: 30%;

:local {
    .upper-container {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
    }

    .introText {
        text-align: left;
        width: 100% - $imageWidth;
        padding-right: 1rem;

        @media screen and (max-width: 420px) {
            order: 2;
            padding-right: 0;
            width: 100%;
        }
    }

    .picture-container {
        width: $imageWidth;

        @media screen and (max-width: 420px) {
            order: 1;
            width: 100%;
            margin-bottom: 1rem;
        }
    }

    .info-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    .more-info {
        width: calc(50% - 1rem);

        @media screen and (max-width: 720px) {
            width: 100% !important;
        }

        &_wide {
            width: calc(100% - 1rem);
        }
    }
}