:local {
    .listing-preview {
        margin-bottom: 1.5rem;
    }

    .footer {
        display: flex;
        justify-content: space-between;
    }

    .link {
        text-decoration: none;

        &:visited {
            color: inherit;
        }
    }
}